.skin-hb .main-header .navbar {
    background-color: #ffffff;
}
.skin-hb .main-header .navbar .nav > li > a {
    color: #9a55ff;
}

.main-sidebar .user-panel {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.skin-hb .main-header .navbar .nav > li > a:hover,
.skin-hb .main-header .navbar .nav > li > a:active,
.skin-hb .main-header .navbar .nav > li > a:focus,
.skin-hb .main-header .navbar .nav .open > a,
.skin-hb .main-header .navbar .nav .open > a:hover,
.skin-hb .main-header .navbar .nav .open > a:focus,
.skin-hb .main-header .navbar .nav > .active > a {
    background: #9a55ff;
    color: #ffffff;
}
.skin-hb .main-header .navbar .sidebar-toggle {
    color: #9a55ff;
}
.skin-hb .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: #9a55ff;
}

.skin-hb .main-header .navbar .sidebar-toggle:hover {
    background-color: #9a55ff;
}
@media (max-width: 767px) {
    .skin-hb .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-hb .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-hb .main-header .navbar .dropdown-menu li a:hover {
        background: #d73925;
    }
}
.skin-hb .main-header .logo {
    background-color: #ffffff;
    color: #9a55ff;
    border-bottom: 0 solid transparent;
}
.skin-hb .main-header .logo:hover {
    background-color: #ffffff;
}
.skin-hb .main-header li.user-header {
    background-color: #dd4b39;
}
.skin-hb .content-header {
    background: transparent;
}
.skin-hb .wrapper,
.skin-hb .main-sidebar,
.skin-hb .left-side {
    background-color: #ffffff;
}
.skin-hb .user-panel > .info,
.skin-hb .user-panel > .info > a {
    color: #fff;
}
.skin-hb .sidebar-menu > li.header {
    color: #000000;
    background: #ffffff;
}
.skin-hb .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-hb .sidebar-menu > li:hover > a,
.skin-hb .sidebar-menu > li.active > a {
    color: #fff;
    background: #9a55ff;
    border-left-color: #9a55ff;
}
.skin-hb .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #fff;
}
.skin-hb .sidebar a {
    color: #6f6b6b;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
.skin-hb .sidebar a:hover {
    text-decoration: none;
}
.skin-hb .treeview-menu > li > a {
    color: #6f6b6b;
}
.skin-hb .treeview-menu > li.active > a,
.skin-hb .treeview-menu > li > a:hover {
    color: #9a55ff;
}
.skin-hb .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-hb .sidebar-form input[type="text"],
.skin-hb .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.skin-hb .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-hb .sidebar-form input[type="text"]:focus,
.skin-hb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-hb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-hb .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.skin-hb .content-wrapper{
    background-color: #f7f7f7;
}

.skin-hb{
    font-family: 'Inter', sans-serif;

    .content-header{
        .section_content{
            background-color: #fff;
            padding: 10px 15px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            
            h1 {
                margin: 0;
                font-size: 24px;

                >small {
                    font-size: 15px;
                    display: inline-block;
                    padding-left: 4px;
                    font-weight: 300;
                }
            }

            .breadcrumb {
                float: right;
                background: transparent;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 12px;
                padding: 7px 5px;
                border-radius: 2px;
            }
        }

    }

    .box {
        border-top: 3px solid #9a55ff;
        box-shadow: 0px 0px 10px 2px #eaeaea;
    }

    .btn.btn-sm{
        background: linear-gradient(to right, #da8cff, #9a55ff);
        font-size: 14px;
        padding: 5px 27px;
        color: #fff;
        border: 0;
        border-radius: 50px;
    }

    table {
        tbody{
            tr{
                box-shadow: 0 0 3px #e5e5e5;

                &:nth-of-type(2n+1) {
                    background-color: #f6f6f6;
                }
                &:hover{
                    background-color: rgba($color: #9a55ff, $alpha: 0.3);
                }
                td {
                    font-size: 13px;
                    padding: 16px 14px;
                }
            }
        }
        
    }
    
}